.card-body {
    flex: none !important;
    max-width: 80%;
}

.image {
    height: 300px;
    width: 340px;
}

.location {
    align-items: end;
}

h4 {
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.prices {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 25px;
    max-width: max-content;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    border-radius: 0px !important;
    padding: 15px;
    width: 100%;
}